@font-face {
  font-family: "Domain Bold";
  src: url("../fonts/coolvetica\ rg.otf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Domain";
  src: url("../fonts/DomaineDispNar-Regular.otf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Domain Medium";
  src: url("../fonts/DomaineDispNar-Medium.otf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;500;600;700&display=swap");
